<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Chef:</strong>
  <%= link_to @restaurant.chef_name, chef_restaurant_path(@restaurant) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</p>

<h2>Reviews</h2>

<!-- The form for a review -->
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



<!-- All the reviews of this restaurant -->
<% @restaurant.reviews.each do |review| %>
  <%= review.content %> -
  <%= link_to 'edit', edit_review_path(review) %> -
  <%= link_to 'delete', review_path(review), method: 'delete' %> <br>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
